.red{width:318px;height:264px;overflow:hidden;border:solid 1px #ad0505;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.red *{padding:0;}
.red .top{height:30px;padding-top:3px;overflow:hidden;background:#ad0505;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.red .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.red .top .title{width:130px;padding-left:8px;}
.red .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.red .con .week{height:5px;overflow:hidden;}
.red .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#ad0505;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.red .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.red .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.red .con .datetime .input{width:84px;}
.red .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#ad0505;}
.red .con .datetime input:disabled{color:#ccc;}
.red .con .datetime .text{width:20px; text-align:center;}
.red .con .timectrl{height:70px;font-size:14px;}
.red .con .timectrl p{padding:0;margin:0;}
.red .con .timectrl .pt{height:16px;line-height:16px;}
.red .con .timectrl .pb{height:54px;line-height:54px;}
.red .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.red .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.red .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.red .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.red .con .timectrl .selected{color:#ad0505;}
.red .con .timectrl .selected b{border-color:#ad0505;}
.red .con .timectrl .selected i{background:#ad0505;}
.red .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.red .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.red .foot .now b{color:#f00;}
.red .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#ad0505; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.red .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.red .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.red .yearM{/*不用写样式*/color:#ad0505;}
.red .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.red .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.red .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.red .yearM .pre:hover,.red .yearM .next:hover,.red .yearM .cancelBtn:hover{color:#f90;}
.red .yearM .year{border:solid 1px #ad0505;color:#ad0505;cursor:pointer;}
.red .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.red .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .yearM .disabled,.red .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.red .yearM .cancelBtn{cursor:pointer;}
.red .yearM .cancelBtn:hover{color:#f90;}
.red .monthM{/*不用写样式*/color:#ad0505;}
.red .monthM .month{border:solid 1px #ad0505;color:#ad0505;cursor:pointer;}
.red .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.red .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .monthM .disabled,.red .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.red .dayM{/*不用写样式*/color:#ad0505;}
.red .dayM .day{border:solid 1px #ad0505;color:#ad0505;cursor:pointer;}
.red .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.red .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .dayM .disabled,.red .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.red .hourM{/*不用写样式*/color:#ad0505;}
.red .hourM .hour{border:solid 1px #ad0505;color:#ad0505;cursor:pointer;}
.red .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.red .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .hourM .disabled,.red .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.red .minuteM{/*不用写样式*/color:#ad0505;}
.red .minuteM .minute{border:solid 1px #ad0505;cursor:pointer;}
.red .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.red .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .minuteM .disabled,.red .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.red .secondM{/*不用写样式*/color:#ad0505;}
.red .secondM .second{border:solid 1px #ad0505; cursor:pointer;}
.red .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.red .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.red .secondM .disabled,.red .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.green{width:318px;height:264px;overflow:hidden;border:solid 1px #024f02;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.green *{padding:0;}
.green .top{height:30px;padding-top:3px;overflow:hidden;background:#024f02;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.green .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.green .top .title{width:130px;padding-left:8px;}
.green .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.green .con .week{height:5px;overflow:hidden;}
.green .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#024f02;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.green .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.green .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.green .con .datetime .input{width:84px;}
.green .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#024f02;}
.green .con .datetime input:disabled{color:#ccc;}
.green .con .datetime .text{width:20px; text-align:center;}
.green .con .timectrl{height:70px;font-size:14px;}
.green .con .timectrl p{padding:0;margin:0;}
.green .con .timectrl .pt{height:16px;line-height:16px;}
.green .con .timectrl .pb{height:54px;line-height:54px;}
.green .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.green .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.green .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.green .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.green .con .timectrl .selected{color:#024f02;}
.green .con .timectrl .selected b{border-color:#024f02;}
.green .con .timectrl .selected i{background:#024f02;}
.green .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.green .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.green .foot .now b{color:#f00;}
.green .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#024f02; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.green .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.green .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.green .yearM{/*不用写样式*/color:#024f02;}
.green .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.green .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.green .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.green .yearM .pre:hover,.green .yearM .next:hover,.green .yearM .cancelBtn:hover{color:#f90;}
.green .yearM .year{border:solid 1px #024f02;color:#024f02;cursor:pointer;}
.green .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.green .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .yearM .disabled,.green .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.green .yearM .cancelBtn{cursor:pointer;}
.green .yearM .cancelBtn:hover{color:#f90;}
.green .monthM{/*不用写样式*/color:#024f02;}
.green .monthM .month{border:solid 1px #024f02;color:#024f02;cursor:pointer;}
.green .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.green .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .monthM .disabled,.green .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.green .dayM{/*不用写样式*/color:#024f02;}
.green .dayM .day{border:solid 1px #024f02;color:#024f02;cursor:pointer;}
.green .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.green .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .dayM .disabled,.green .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.green .hourM{/*不用写样式*/color:#024f02;}
.green .hourM .hour{border:solid 1px #024f02;color:#024f02;cursor:pointer;}
.green .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.green .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .hourM .disabled,.green .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.green .minuteM{/*不用写样式*/color:#024f02;}
.green .minuteM .minute{border:solid 1px #024f02;cursor:pointer;}
.green .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.green .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .minuteM .disabled,.green .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.green .secondM{/*不用写样式*/color:#024f02;}
.green .secondM .second{border:solid 1px #024f02; cursor:pointer;}
.green .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.green .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.green .secondM .disabled,.green .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.cyan{width:318px;height:264px;overflow:hidden;border:solid 1px #05a59d;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.cyan *{padding:0;}
.cyan .top{height:30px;padding-top:3px;overflow:hidden;background:#05a59d;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.cyan .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.cyan .top .title{width:130px;padding-left:8px;}
.cyan .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.cyan .con .week{height:5px;overflow:hidden;}
.cyan .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#05a59d;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.cyan .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.cyan .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.cyan .con .datetime .input{width:84px;}
.cyan .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#05a59d;}
.cyan .con .datetime input:disabled{color:#ccc;}
.cyan .con .datetime .text{width:20px; text-align:center;}
.cyan .con .timectrl{height:70px;font-size:14px;}
.cyan .con .timectrl p{padding:0;margin:0;}
.cyan .con .timectrl .pt{height:16px;line-height:16px;}
.cyan .con .timectrl .pb{height:54px;line-height:54px;}
.cyan .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.cyan .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.cyan .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.cyan .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.cyan .con .timectrl .selected{color:#05a59d;}
.cyan .con .timectrl .selected b{border-color:#05a59d;}
.cyan .con .timectrl .selected i{background:#05a59d;}
.cyan .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.cyan .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.cyan .foot .now b{color:#f00;}
.cyan .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#05a59d; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.cyan .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.cyan .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.cyan .yearM{/*不用写样式*/color:#05a59d;}
.cyan .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.cyan .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.cyan .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.cyan .yearM .pre:hover,.cyan .yearM .next:hover,.cyan .yearM .cancelBtn:hover{color:#f90;}
.cyan .yearM .year{border:solid 1px #05a59d;color:#05a59d;cursor:pointer;}
.cyan .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .yearM .disabled,.cyan .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.cyan .yearM .cancelBtn{cursor:pointer;}
.cyan .yearM .cancelBtn:hover{color:#f90;}
.cyan .monthM{/*不用写样式*/color:#05a59d;}
.cyan .monthM .month{border:solid 1px #05a59d;color:#05a59d;cursor:pointer;}
.cyan .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .monthM .disabled,.cyan .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.cyan .dayM{/*不用写样式*/color:#05a59d;}
.cyan .dayM .day{border:solid 1px #05a59d;color:#05a59d;cursor:pointer;}
.cyan .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .dayM .disabled,.cyan .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.cyan .hourM{/*不用写样式*/color:#05a59d;}
.cyan .hourM .hour{border:solid 1px #05a59d;color:#05a59d;cursor:pointer;}
.cyan .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .hourM .disabled,.cyan .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.cyan .minuteM{/*不用写样式*/color:#05a59d;}
.cyan .minuteM .minute{border:solid 1px #05a59d;cursor:pointer;}
.cyan .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .minuteM .disabled,.cyan .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.cyan .secondM{/*不用写样式*/color:#05a59d;}
.cyan .secondM .second{border:solid 1px #05a59d; cursor:pointer;}
.cyan .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.cyan .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.cyan .secondM .disabled,.cyan .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.blue{width:318px;height:264px;overflow:hidden;border:solid 1px #040499;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.blue *{padding:0;}
.blue .top{height:30px;padding-top:3px;overflow:hidden;background:#040499;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.blue .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.blue .top .title{width:130px;padding-left:8px;}
.blue .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.blue .con .week{height:5px;overflow:hidden;}
.blue .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#040499;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.blue .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.blue .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.blue .con .datetime .input{width:84px;}
.blue .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#040499;}
.blue .con .datetime input:disabled{color:#ccc;}
.blue .con .datetime .text{width:20px; text-align:center;}
.blue .con .timectrl{height:70px;font-size:14px;}
.blue .con .timectrl p{padding:0;margin:0;}
.blue .con .timectrl .pt{height:16px;line-height:16px;}
.blue .con .timectrl .pb{height:54px;line-height:54px;}
.blue .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.blue .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.blue .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.blue .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.blue .con .timectrl .selected{color:#040499;}
.blue .con .timectrl .selected b{border-color:#040499;}
.blue .con .timectrl .selected i{background:#040499;}
.blue .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.blue .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.blue .foot .now b{color:#f00;}
.blue .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#040499; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.blue .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.blue .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.blue .yearM{/*不用写样式*/color:#040499;}
.blue .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.blue .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.blue .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.blue .yearM .pre:hover,.blue .yearM .next:hover,.blue .yearM .cancelBtn:hover{color:#f90;}
.blue .yearM .year{border:solid 1px #040499;color:#040499;cursor:pointer;}
.blue .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .yearM .disabled,.blue .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.blue .yearM .cancelBtn{cursor:pointer;}
.blue .yearM .cancelBtn:hover{color:#f90;}
.blue .monthM{/*不用写样式*/color:#040499;}
.blue .monthM .month{border:solid 1px #040499;color:#040499;cursor:pointer;}
.blue .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .monthM .disabled,.blue .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.blue .dayM{/*不用写样式*/color:#040499;}
.blue .dayM .day{border:solid 1px #040499;color:#040499;cursor:pointer;}
.blue .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .dayM .disabled,.blue .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.blue .hourM{/*不用写样式*/color:#040499;}
.blue .hourM .hour{border:solid 1px #040499;color:#040499;cursor:pointer;}
.blue .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .hourM .disabled,.blue .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.blue .minuteM{/*不用写样式*/color:#040499;}
.blue .minuteM .minute{border:solid 1px #040499;cursor:pointer;}
.blue .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .minuteM .disabled,.blue .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.blue .secondM{/*不用写样式*/color:#040499;}
.blue .secondM .second{border:solid 1px #040499; cursor:pointer;}
.blue .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.blue .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.blue .secondM .disabled,.blue .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.purple{width:318px;height:264px;overflow:hidden;border:solid 1px #800080;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.purple *{padding:0;}
.purple .top{height:30px;padding-top:3px;overflow:hidden;background:#800080;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.purple .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.purple .top .title{width:130px;padding-left:8px;}
.purple .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.purple .con .week{height:5px;overflow:hidden;}
.purple .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#800080;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.purple .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.purple .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.purple .con .datetime .input{width:84px;}
.purple .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#800080;}
.purple .con .datetime input:disabled{color:#ccc;}
.purple .con .datetime .text{width:20px; text-align:center;}
.purple .con .timectrl{height:70px;font-size:14px;}
.purple .con .timectrl p{padding:0;margin:0;}
.purple .con .timectrl .pt{height:16px;line-height:16px;}
.purple .con .timectrl .pb{height:54px;line-height:54px;}
.purple .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.purple .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.purple .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.purple .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.purple .con .timectrl .selected{color:#800080;}
.purple .con .timectrl .selected b{border-color:#800080;}
.purple .con .timectrl .selected i{background:#800080;}
.purple .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.purple .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.purple .foot .now b{color:#f00;}
.purple .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#800080; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.purple .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.purple .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.purple .yearM{/*不用写样式*/color:#800080;}
.purple .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.purple .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.purple .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.purple .yearM .pre:hover,.purple .yearM .next:hover,.purple .yearM .cancelBtn:hover{color:#f90;}
.purple .yearM .year{border:solid 1px #800080;color:#800080;cursor:pointer;}
.purple .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .yearM .disabled,.purple .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.purple .yearM .cancelBtn{cursor:pointer;}
.purple .yearM .cancelBtn:hover{color:#f90;}
.purple .monthM{/*不用写样式*/color:#800080;}
.purple .monthM .month{border:solid 1px #800080;color:#800080;cursor:pointer;}
.purple .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .monthM .disabled,.purple .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.purple .dayM{/*不用写样式*/color:#800080;}
.purple .dayM .day{border:solid 1px #800080;color:#800080;cursor:pointer;}
.purple .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .dayM .disabled,.purple .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.purple .hourM{/*不用写样式*/color:#800080;}
.purple .hourM .hour{border:solid 1px #800080;color:#800080;cursor:pointer;}
.purple .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .hourM .disabled,.purple .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.purple .minuteM{/*不用写样式*/color:#800080;}
.purple .minuteM .minute{border:solid 1px #800080;cursor:pointer;}
.purple .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .minuteM .disabled,.purple .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.purple .secondM{/*不用写样式*/color:#800080;}
.purple .secondM .second{border:solid 1px #800080; cursor:pointer;}
.purple .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.purple .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.purple .secondM .disabled,.purple .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.orange{width:318px;height:264px;overflow:hidden;border:solid 1px #ba7006;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.orange *{padding:0;}
.orange .top{height:30px;padding-top:3px;overflow:hidden;background:#ba7006;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.orange .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.orange .top .title{width:130px;padding-left:8px;}
.orange .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.orange .con .week{height:5px;overflow:hidden;}
.orange .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#ba7006;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.orange .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.orange .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.orange .con .datetime .input{width:84px;}
.orange .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#ba7006;}
.orange .con .datetime input:disabled{color:#ccc;}
.orange .con .datetime .text{width:20px; text-align:center;}
.orange .con .timectrl{height:70px;font-size:14px;}
.orange .con .timectrl p{padding:0;margin:0;}
.orange .con .timectrl .pt{height:16px;line-height:16px;}
.orange .con .timectrl .pb{height:54px;line-height:54px;}
.orange .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.orange .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.orange .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.orange .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.orange .con .timectrl .selected{color:#ba7006;}
.orange .con .timectrl .selected b{border-color:#ba7006;}
.orange .con .timectrl .selected i{background:#ba7006;}
.orange .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.orange .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.orange .foot .now b{color:#f00;}
.orange .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#ba7006; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.orange .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.orange .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.orange .yearM{/*不用写样式*/color:#ba7006;}
.orange .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.orange .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.orange .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.orange .yearM .pre:hover,.orange .yearM .next:hover,.orange .yearM .cancelBtn:hover{color:#f90;}
.orange .yearM .year{border:solid 1px #ba7006;color:#ba7006;cursor:pointer;}
.orange .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .yearM .disabled,.orange .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.orange .yearM .cancelBtn{cursor:pointer;}
.orange .yearM .cancelBtn:hover{color:#f90;}
.orange .monthM{/*不用写样式*/color:#ba7006;}
.orange .monthM .month{border:solid 1px #ba7006;color:#ba7006;cursor:pointer;}
.orange .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .monthM .disabled,.orange .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.orange .dayM{/*不用写样式*/color:#ba7006;}
.orange .dayM .day{border:solid 1px #ba7006;color:#ba7006;cursor:pointer;}
.orange .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .dayM .disabled,.orange .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.orange .hourM{/*不用写样式*/color:#ba7006;}
.orange .hourM .hour{border:solid 1px #ba7006;color:#ba7006;cursor:pointer;}
.orange .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .hourM .disabled,.orange .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.orange .minuteM{/*不用写样式*/color:#ba7006;}
.orange .minuteM .minute{border:solid 1px #ba7006;cursor:pointer;}
.orange .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .minuteM .disabled,.orange .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.orange .secondM{/*不用写样式*/color:#ba7006;}
.orange .secondM .second{border:solid 1px #ba7006; cursor:pointer;}
.orange .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.orange .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.orange .secondM .disabled,.orange .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}

.yellow{width:318px;height:264px;overflow:hidden;border:solid 1px #cccc00;border-radius:5px; background:#fff;position:absolute;padding:1px 0 0 0; font-family:'微软雅黑';}
.yellow *{padding:0;}
.yellow .top{height:30px;padding-top:3px;overflow:hidden;background:#cccc00;width:316px;margin:0 auto;border-radius:5px 5px 0 0;}
.yellow .top span{display:block;float:left;height:30px;line-height:30px;font-size:18px;overflow:hidden;color:#fff;}
.yellow .top .title{width:130px;padding-left:8px;}
.yellow .con{width:314px;height:170px;margin:0 auto;overflow:hidden; }
.yellow .con .week{height:5px;overflow:hidden;}
.yellow .con .week b{display:block;position:absolute;width:127px;height:30px;line-height:30px;overflow:hidden;color:#cccc00;margin:-30px 0 0 190px;text-align:center;background:#fff;border-radius:30px 5px 0 0;}
.yellow .con .datetime{height:100px;/*background:#009; opacity:0.5;*/}
.yellow .con .datetime div{height:42px;line-height:40px;float:left;margin:0 0 5px 0; overflow:hidden;}
.yellow .con .datetime .input{width:84px;}
.yellow .con .datetime input{background:#f7f7f7;border:solid 1px #efefef;border-radius:5px;padding:0;margin:0;display:block;height:40px;line-height:40px;overflow:hidden;outline:none;width:82px;text-align:center;font-size:18px; font-family:Georgia; font-weight:bold; color:#cccc00;}
.yellow .con .datetime input:disabled{color:#ccc;}
.yellow .con .datetime .text{width:20px; text-align:center;}
.yellow .con .timectrl{height:70px;font-size:14px;}
.yellow .con .timectrl p{padding:0;margin:0;}
.yellow .con .timectrl .pt{height:16px;line-height:16px;}
.yellow .con .timectrl .pb{height:54px;line-height:54px;}
.yellow .con .timectrl span{height:54px;width:25%;display:block;color:#ccc;float:left;padding:0;margin:0;}
.yellow .con .timectrl b{width:10px;height:10px;display:block;float:left;border:solid 1px #ccc; border-radius:5px;margin:21px 2px 0 5px;}
.yellow .con .timectrl i{width:8px;height:8px;display:block;margin:1px 0 0 1px;border-radius:4px;}
.yellow .con .timectrl strong{display:block;width:33px; font-weight:normal;font-size:12px;white-space:nowrap;float:left;}
.yellow .con .timectrl .selected{color:#cccc00;}
.yellow .con .timectrl .selected b{border-color:#cccc00;}
.yellow .con .timectrl .selected i{background:#cccc00;}
.yellow .foot{width:316px;height:60px;margin:0 auto;overflow:hidden;}
.yellow .foot .now{height:20px;line-height:23px;color:#999;font-size:12px;text-align:center;}
.yellow .foot .now b{color:#f00;}
.yellow .foot .btn{height:40px;line-height:40px;text-align:center;color:#fff; background:#cccc00; border-radius:0 0 5px 5px; text-indent:-10px; letter-spacing:10px; cursor:pointer;}
.yellow .middle{width:318px;height:262px;line-height:264px;text-align:center; text-transform:uppercase; font-size:50px;color:#ddd;overflow:hidden;background:#fff;position:absolute;filter:alpha(opacity=90);opacity:0.9;z-index:1;margin:1px 0 0 1px;border-radius:5px;display:none;}
.yellow .frontM{width:318px;height:262px;font-weight:bold;overflow:hidden;position:absolute;z-index:1;margin:1px 0 0 1px; border-radius:5px;display:none;}
.yellow .yearM{/*不用写样式*/color:#cccc00;}
.yellow .yearM .pre{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.yellow .yearM .currYear{width:33.33%;float:left;display:block;padding:0;margin:0;color:#f90;}
.yellow .yearM .next{width:33.33%;float:left;display:block;padding:0;margin:0;cursor:pointer;}
.yellow .yearM .pre:hover,.yellow .yearM .next:hover,.yellow .yearM .cancelBtn:hover{color:#f90;}
.yellow .yearM .year{border:solid 1px #cccc00;color:#cccc00;cursor:pointer;}
.yellow .yearM .year:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .yearM .selYear{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .yearM .disabled,.yellow .yearM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.yellow .yearM .cancelBtn{cursor:pointer;}
.yellow .yearM .cancelBtn:hover{color:#f90;}
.yellow .monthM{/*不用写样式*/color:#cccc00;}
.yellow .monthM .month{border:solid 1px #cccc00;color:#cccc00;cursor:pointer;}
.yellow .monthM .month:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .monthM .selMonth{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .monthM .disabled,.yellow .monthM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.yellow .dayM{/*不用写样式*/color:#cccc00;}
.yellow .dayM .day{border:solid 1px #cccc00;color:#cccc00;cursor:pointer;}
.yellow .dayM .day:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .dayM .selDay{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .dayM .disabled,.yellow .dayM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.yellow .hourM{/*不用写样式*/color:#cccc00;}
.yellow .hourM .hour{border:solid 1px #cccc00;color:#cccc00;cursor:pointer;}
.yellow .hourM .hour:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .hourM .selHour{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .hourM .disabled,.yellow .hourM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.yellow .minuteM{/*不用写样式*/color:#cccc00;}
.yellow .minuteM .minute{border:solid 1px #cccc00;cursor:pointer;}
.yellow .minuteM .minute:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .minuteM .selMinute{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .minuteM .disabled,.yellow .minuteM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}
.yellow .secondM{/*不用写样式*/color:#cccc00;}
.yellow .secondM .second{border:solid 1px #cccc00; cursor:pointer;}
.yellow .secondM .second:hover{background:#fff;border-color:#f00;color:#f00;}
.yellow .secondM .selSecond{border:solid 1px #f90;color:#f90;cursor:pointer;}
.yellow .secondM .disabled,.yellow .secondM .disabled:hover{cursor:default;border-color:#ccc;color:#ccc;}


