<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EntityProjectNameSpace" value="Huanr.Models" />
    <add key="EntityProjectRootDir" value="D:\Work\ZeroDbs\Huanr.Models" />
    <add key="TargetProjectRootDir" value="D:\Work\ZeroDbs\Huanr.NativeSoilWebApp" />
  </appSettings>
</configuration>