/*图标*/
.zero_bg_icon{background-position:2px center;background-repeat:no-repeat;padding-left:20px;vertical-align:middle;}
input[type=button].zero_bg_icon,
input[type=submit].zero_bg_icon,
input[type=reset].zero_bg_icon,
button.zero_bg_icon{padding-left:20px;}

.zero_bg_icon_accessibility{background-image:url(images/icon/accessibility.png);}
.zero_bg_icon_address_book{background-image:url(images/icon/address_book.png);}
.zero_bg_icon_aid{background-image:url(images/icon/aid.png);}
.zero_bg_icon_airplane{background-image:url(images/icon/airplane.png);}
.zero_bg_icon_alarm{background-image:url(images/icon/alarm.png);}
.zero_bg_icon_alarm2{background-image:url(images/icon/alarm2.png);}
.zero_bg_icon_android{background-image:url(images/icon/android.png);}
.zero_bg_icon_angry{background-image:url(images/icon/angry.png);}
.zero_bg_icon_angry2{background-image:url(images/icon/angry2.png);}
.zero_bg_icon_apple{background-image:url(images/icon/apple.png);}
.zero_bg_icon_arrow_down{background-image:url(images/icon/arrow_down.png);}
.zero_bg_icon_arrow_down2{background-image:url(images/icon/arrow_down2.png);}
.zero_bg_icon_arrow_down3{background-image:url(images/icon/arrow_down3.png);}
.zero_bg_icon_arrow_down_left{background-image:url(images/icon/arrow_down_left.png);}
.zero_bg_icon_arrow_down_left2{background-image:url(images/icon/arrow_down_left2.png);}
.zero_bg_icon_arrow_down_left3{background-image:url(images/icon/arrow_down_left3.png);}
.zero_bg_icon_arrow_down_right{background-image:url(images/icon/arrow_down_right.png);}
.zero_bg_icon_arrow_down_right2{background-image:url(images/icon/arrow_down_right2.png);}
.zero_bg_icon_arrow_down_right3{background-image:url(images/icon/arrow_down_right3.png);}
.zero_bg_icon_arrow_left{background-image:url(images/icon/arrow_left.png);}
.zero_bg_icon_arrow_left2{background-image:url(images/icon/arrow_left2.png);}
.zero_bg_icon_arrow_left3{background-image:url(images/icon/arrow_left3.png);}
.zero_bg_icon_arrow_right{background-image:url(images/icon/arrow_right.png);}
.zero_bg_icon_arrow_right2{background-image:url(images/icon/arrow_right2.png);}
.zero_bg_icon_arrow_right3{background-image:url(images/icon/arrow_right3.png);}
.zero_bg_icon_arrow_up{background-image:url(images/icon/arrow_up.png);}
.zero_bg_icon_arrow_up2{background-image:url(images/icon/arrow_up2.png);}
.zero_bg_icon_arrow_up3{background-image:url(images/icon/arrow_up3.png);}
.zero_bg_icon_arrow_up_left{background-image:url(images/icon/arrow_up_left.png);}
.zero_bg_icon_arrow_up_left2{background-image:url(images/icon/arrow_up_left2.png);}
.zero_bg_icon_arrow_up_left3{background-image:url(images/icon/arrow_up_left3.png);}
.zero_bg_icon_arrow_up_right{background-image:url(images/icon/arrow_up_right.png);}
.zero_bg_icon_arrow_up_right2{background-image:url(images/icon/arrow_up_right2.png);}
.zero_bg_icon_arrow_up_right3{background-image:url(images/icon/arrow_up_right3.png);}
.zero_bg_icon_attachment{background-image:url(images/icon/attachment.png);}
.zero_bg_icon_backward{background-image:url(images/icon/backward.png);}
.zero_bg_icon_backward2{background-image:url(images/icon/backward2.png);}
.zero_bg_icon_barcode{background-image:url(images/icon/barcode.png);}
.zero_bg_icon_bars{background-image:url(images/icon/bars.png);}
.zero_bg_icon_bars2{background-image:url(images/icon/bars2.png);}
.zero_bg_icon_bell{background-image:url(images/icon/bell.png);}
.zero_bg_icon_binoculars{background-image:url(images/icon/binoculars.png);}
.zero_bg_icon_blocked{background-image:url(images/icon/blocked.png);}
.zero_bg_icon_blog{background-image:url(images/icon/blog.png);}
.zero_bg_icon_blogger{background-image:url(images/icon/blogger.png);}
.zero_bg_icon_blogger2{background-image:url(images/icon/blogger2.png);}
.zero_bg_icon_bold{background-image:url(images/icon/bold.png);}
.zero_bg_icon_book{background-image:url(images/icon/book.png);}
.zero_bg_icon_bookmark{background-image:url(images/icon/bookmark.png);}
.zero_bg_icon_bookmarks{background-image:url(images/icon/bookmarks.png);}
.zero_bg_icon_books{background-image:url(images/icon/books.png);}
.zero_bg_icon_.zero_box_add{background-image:url(images/icon/.zero_box_add.png);}
.zero_bg_icon_.zero_box_remove{background-image:url(images/icon/.zero_box_remove.png);}
.zero_bg_icon_briefcase{background-image:url(images/icon/briefcase.png);}
.zero_bg_icon_brightness_contrast{background-image:url(images/icon/brightness_contrast.png);}
.zero_bg_icon_brightness_medium{background-image:url(images/icon/brightness_medium.png);}
.zero_bg_icon_bubble{background-image:url(images/icon/bubble.png);}
.zero_bg_icon_bubble2{background-image:url(images/icon/bubble2.png);}
.zero_bg_icon_bubbles{background-image:url(images/icon/bubbles.png);}
.zero_bg_icon_bubbles2{background-image:url(images/icon/bubbles2.png);}
.zero_bg_icon_bubbles3{background-image:url(images/icon/bubbles3.png);}
.zero_bg_icon_bubbles4{background-image:url(images/icon/bubbles4.png);}
.zero_bg_icon_bug{background-image:url(images/icon/bug.png);}
.zero_bg_icon_bullhorn{background-image:url(images/icon/bullhorn.png);}
.zero_bg_icon_busy{background-image:url(images/icon/busy.png);}
.zero_bg_icon_cabinet{background-image:url(images/icon/cabinet.png);}
.zero_bg_icon_calculate{background-image:url(images/icon/calculate.png);}
.zero_bg_icon_calendar{background-image:url(images/icon/calendar.png);}
.zero_bg_icon_calendar2{background-image:url(images/icon/calendar2.png);}
.zero_bg_icon_camera{background-image:url(images/icon/camera.png);}
.zero_bg_icon_camera2{background-image:url(images/icon/camera2.png);}
.zero_bg_icon_cancel_circle{background-image:url(images/icon/cancel_circle.png);}
.zero_bg_icon_cart{background-image:url(images/icon/cart.png);}
.zero_bg_icon_cart2{background-image:url(images/icon/cart2.png);}
.zero_bg_icon_cart3{background-image:url(images/icon/cart3.png);}
.zero_bg_icon_checkbox_checked{background-image:url(images/icon/checkbox_checked.png);}
.zero_bg_icon_checkbox_partial{background-image:url(images/icon/checkbox_partial.png);}
.zero_bg_icon_checkbox_unchecked{background-image:url(images/icon/checkbox_unchecked.png);}
.zero_bg_icon_checkmark{background-image:url(images/icon/checkmark.png);}
.zero_bg_icon_checkmark2{background-image:url(images/icon/checkmark2.png);}
.zero_bg_icon_checkmark_circle{background-image:url(images/icon/checkmark_circle.png);}
.zero_bg_icon_chrome{background-image:url(images/icon/chrome.png);}
.zero_bg_icon_clock{background-image:url(images/icon/clock.png);}
.zero_bg_icon_clock2{background-image:url(images/icon/clock2.png);}
.zero_bg_icon_close{background-image:url(images/icon/close.png);}
.zero_bg_icon_cloud{background-image:url(images/icon/cloud.png);}
.zero_bg_icon_cloud_download{background-image:url(images/icon/cloud_download.png);}
.zero_bg_icon_cloud_upload{background-image:url(images/icon/cloud_upload.png);}
.zero_bg_icon_clubs{background-image:url(images/icon/clubs.png);}
.zero_bg_icon_code{background-image:url(images/icon/code.png);}
.zero_bg_icon_cog{background-image:url(images/icon/cog.png);}
.zero_bg_icon_cog2{background-image:url(images/icon/cog2.png);}
.zero_bg_icon_cogs{background-image:url(images/icon/cogs.png);}
.zero_bg_icon_coin{background-image:url(images/icon/coin.png);}
.zero_bg_icon_compass{background-image:url(images/icon/compass.png);}
.zero_bg_icon_confused{background-image:url(images/icon/confused.png);}
.zero_bg_icon_confused2{background-image:url(images/icon/confused2.png);}
.zero_bg_icon_connection{background-image:url(images/icon/connection.png);}
.zero_bg_icon_console{background-image:url(images/icon/console.png);}
.zero_bg_icon_contract{background-image:url(images/icon/contract.png);}
.zero_bg_icon_contract2{background-image:url(images/icon/contract2.png);}
.zero_bg_icon_contrast{background-image:url(images/icon/contrast.png);}
.zero_bg_icon_cool{background-image:url(images/icon/cool.png);}
.zero_bg_icon_cool2{background-image:url(images/icon/cool2.png);}
.zero_bg_icon_copy{background-image:url(images/icon/copy.png);}
.zero_bg_icon_copy2{background-image:url(images/icon/copy2.png);}
.zero_bg_icon_copy3{background-image:url(images/icon/copy3.png);}
.zero_bg_icon_credit{background-image:url(images/icon/credit.png);}
.zero_bg_icon_crop{background-image:url(images/icon/crop.png);}
.zero_bg_icon_css3{background-image:url(images/icon/css3.png);}
.zero_bg_icon_dashboard{background-image:url(images/icon/dashboard.png);}
.zero_bg_icon_delicious{background-image:url(images/icon/delicious.png);}
.zero_bg_icon_deviantart{background-image:url(images/icon/deviantart.png);}
.zero_bg_icon_deviantart2{background-image:url(images/icon/deviantart2.png);}
.zero_bg_icon_diamonds{background-image:url(images/icon/diamonds.png);}
.zero_bg_icon_dice{background-image:url(images/icon/dice.png);}
.zero_bg_icon_disk{background-image:url(images/icon/disk.png);}
.zero_bg_icon_download{background-image:url(images/icon/download.png);}
.zero_bg_icon_download2{background-image:url(images/icon/download2.png);}
.zero_bg_icon_download3{background-image:url(images/icon/download3.png);}
.zero_bg_icon_drawer{background-image:url(images/icon/drawer.png);}
.zero_bg_icon_drawer2{background-image:url(images/icon/drawer2.png);}
.zero_bg_icon_drawer3{background-image:url(images/icon/drawer3.png);}
.zero_bg_icon_dribbble{background-image:url(images/icon/dribbble.png);}
.zero_bg_icon_dribbble2{background-image:url(images/icon/dribbble2.png);}
.zero_bg_icon_dribbble3{background-image:url(images/icon/dribbble3.png);}
.zero_bg_icon_droplet{background-image:url(images/icon/droplet.png);}
.zero_bg_icon_earth{background-image:url(images/icon/earth.png);}
.zero_bg_icon_eject{background-image:url(images/icon/eject.png);}
.zero_bg_icon_embed{background-image:url(images/icon/embed.png);}
.zero_bg_icon_enter{background-image:url(images/icon/enter.png);}
.zero_bg_icon_envelop{background-image:url(images/icon/envelop.png);}
.zero_bg_icon_equalizer{background-image:url(images/icon/equalizer.png);}
.zero_bg_icon_evil{background-image:url(images/icon/evil.png);}
.zero_bg_icon_evil2{background-image:url(images/icon/evil2.png);}
.zero_bg_icon_exit{background-image:url(images/icon/exit.png);}
.zero_bg_icon_expand{background-image:url(images/icon/expand.png);}
.zero_bg_icon_expand2{background-image:url(images/icon/expand2.png);}
.zero_bg_icon_eye{background-image:url(images/icon/eye.png);}
.zero_bg_icon_eye2{background-image:url(images/icon/eye2.png);}
.zero_bg_icon_eye_blocked{background-image:url(images/icon/eye_blocked.png);}
.zero_bg_icon_facebook{background-image:url(images/icon/facebook.png);}
.zero_bg_icon_facebook2{background-image:url(images/icon/facebook2.png);}
.zero_bg_icon_facebook3{background-image:url(images/icon/facebook3.png);}
.zero_bg_icon_feed{background-image:url(images/icon/feed.png);}
.zero_bg_icon_feed2{background-image:url(images/icon/feed2.png);}
.zero_bg_icon_feed3{background-image:url(images/icon/feed3.png);}
.zero_bg_icon_feed4{background-image:url(images/icon/feed4.png);}
.zero_bg_icon_file{background-image:url(images/icon/file.png);}
.zero_bg_icon_file2{background-image:url(images/icon/file2.png);}
.zero_bg_icon_file3{background-image:url(images/icon/file3.png);}
.zero_bg_icon_file4{background-image:url(images/icon/file4.png);}
.zero_bg_icon_file_css{background-image:url(images/icon/file_css.png);}
.zero_bg_icon_file_excel{background-image:url(images/icon/file_excel.png);}
.zero_bg_icon_file_openoffice{background-image:url(images/icon/file_openoffice.png);}
.zero_bg_icon_file_pdf{background-image:url(images/icon/file_pdf.png);}
.zero_bg_icon_file_powerpoint{background-image:url(images/icon/file_powerpoint.png);}
.zero_bg_icon_file_word{background-image:url(images/icon/file_word.png);}
.zero_bg_icon_file_xml{background-image:url(images/icon/file_xml.png);}
.zero_bg_icon_file_zip{background-image:url(images/icon/file_zip.png);}
.zero_bg_icon_film{background-image:url(images/icon/film.png);}
.zero_bg_icon_filter{background-image:url(images/icon/filter.png);}
.zero_bg_icon_filter2{background-image:url(images/icon/filter2.png);}
.zero_bg_icon_finder{background-image:url(images/icon/finder.png);}
.zero_bg_icon_fire{background-image:url(images/icon/fire.png);}
.zero_bg_icon_firefox{background-image:url(images/icon/firefox.png);}
.zero_bg_icon_first{background-image:url(images/icon/first.png);}
.zero_bg_icon_flag{background-image:url(images/icon/flag.png);}
.zero_bg_icon_flattr{background-image:url(images/icon/flattr.png);}
.zero_bg_icon_flickr{background-image:url(images/icon/flickr.png);}
.zero_bg_icon_flickr2{background-image:url(images/icon/flickr2.png);}
.zero_bg_icon_flickr3{background-image:url(images/icon/flickr3.png);}
.zero_bg_icon_flickr4{background-image:url(images/icon/flickr4.png);}
.zero_bg_icon_flip{background-image:url(images/icon/flip.png);}
.zero_bg_icon_flip2{background-image:url(images/icon/flip2.png);}
.zero_bg_icon_folder{background-image:url(images/icon/folder.png);}
.zero_bg_icon_folder_open{background-image:url(images/icon/folder_open.png);}
.zero_bg_icon_font{background-image:url(images/icon/font.png);}
.zero_bg_icon_food{background-image:url(images/icon/food.png);}
.zero_bg_icon_forrst{background-image:url(images/icon/forrst.png);}
.zero_bg_icon_forrst2{background-image:url(images/icon/forrst2.png);}
.zero_bg_icon_forward{background-image:url(images/icon/forward.png);}
.zero_bg_icon_forward2{background-image:url(images/icon/forward2.png);}
.zero_bg_icon_forward3{background-image:url(images/icon/forward3.png);}
.zero_bg_icon_foursquare{background-image:url(images/icon/foursquare.png);}
.zero_bg_icon_foursquare2{background-image:url(images/icon/foursquare2.png);}
.zero_bg_icon_gift{background-image:url(images/icon/gift.png);}
.zero_bg_icon_github{background-image:url(images/icon/github.png);}
.zero_bg_icon_github2{background-image:url(images/icon/github2.png);}
.zero_bg_icon_github3{background-image:url(images/icon/github3.png);}
.zero_bg_icon_github4{background-image:url(images/icon/github4.png);}
.zero_bg_icon_github5{background-image:url(images/icon/github5.png);}
.zero_bg_icon_glass{background-image:url(images/icon/glass.png);}
.zero_bg_icon_globe{background-image:url(images/icon/globe.png);}
.zero_bg_icon_google{background-image:url(images/icon/google.png);}
.zero_bg_icon_google_drive{background-image:url(images/icon/google_drive.png);}
.zero_bg_icon_google_plus{background-image:url(images/icon/google_plus.png);}
.zero_bg_icon_google_plus2{background-image:url(images/icon/google_plus2.png);}
.zero_bg_icon_google_plus3{background-image:url(images/icon/google_plus3.png);}
.zero_bg_icon_google_plus4{background-image:url(images/icon/google_plus4.png);}
.zero_bg_icon_grin{background-image:url(images/icon/grin.png);}
.zero_bg_icon_grin2{background-image:url(images/icon/grin2.png);}
.zero_bg_icon_hammer{background-image:url(images/icon/hammer.png);}
.zero_bg_icon_hammer2{background-image:url(images/icon/hammer2.png);}
.zero_bg_icon_happy{background-image:url(images/icon/happy.png);}
.zero_bg_icon_happy2{background-image:url(images/icon/happy2.png);}
.zero_bg_icon_headphones{background-image:url(images/icon/headphones.png);}
.zero_bg_icon_heart{background-image:url(images/icon/heart.png);}
.zero_bg_icon_heart2{background-image:url(images/icon/heart2.png);}
.zero_bg_icon_heart_broken{background-image:url(images/icon/heart_broken.png);}
.zero_bg_icon_history{background-image:url(images/icon/history.png);}
.zero_bg_icon_home{background-image:url(images/icon/home.png);}
.zero_bg_icon_home2{background-image:url(images/icon/home2.png);}
.zero_bg_icon_home3{background-image:url(images/icon/home3.png);}
.zero_bg_icon_html5{background-image:url(images/icon/html5.png);}
.zero_bg_icon_html52{background-image:url(images/icon/html52.png);}
.zero_bg_icon_icomoon{background-image:url(images/icon/icomoon.png);}
.zero_bg_icon_ie{background-image:url(images/icon/ie.png);}
.zero_bg_icon_image{background-image:url(images/icon/image.png);}
.zero_bg_icon_image2{background-image:url(images/icon/image2.png);}
.zero_bg_icon_images{background-image:url(images/icon/images.png);}
.zero_bg_icon_indent_decrease{background-image:url(images/icon/indent_decrease.png);}
.zero_bg_icon_indent_increase{background-image:url(images/icon/indent_increase.png);}
.zero_bg_icon_info{background-image:url(images/icon/info.png);}
.zero_bg_icon_info2{background-image:url(images/icon/info2.png);}
.zero_bg_icon_insert_template{background-image:url(images/icon/insert_template.png);}
.zero_bg_icon_instagram{background-image:url(images/icon/instagram.png);}
.zero_bg_icon_italic{background-image:url(images/icon/italic.png);}
.zero_bg_icon_joomla{background-image:url(images/icon/joomla.png);}
.zero_bg_icon_key{background-image:url(images/icon/key.png);}
.zero_bg_icon_key2{background-image:url(images/icon/key2.png);}
.zero_bg_icon_keyboard{background-image:url(images/icon/keyboard.png);}
.zero_bg_icon_lab{background-image:url(images/icon/lab.png);}
.zero_bg_icon_lanyrd{background-image:url(images/icon/lanyrd.png);}
.zero_bg_icon_laptop{background-image:url(images/icon/laptop.png);}
.zero_bg_icon_last{background-image:url(images/icon/last.png);}
.zero_bg_icon_lastfm{background-image:url(images/icon/lastfm.png);}
.zero_bg_icon_lastfm2{background-image:url(images/icon/lastfm2.png);}
.zero_bg_icon_leaf{background-image:url(images/icon/leaf.png);}
.zero_bg_icon_left_to_right{background-image:url(images/icon/left_to_right.png);}
.zero_bg_icon_library{background-image:url(images/icon/library.png);}
.zero_bg_icon_libreoffice{background-image:url(images/icon/libreoffice.png);}
.zero_bg_icon_lightning{background-image:url(images/icon/lightning.png);}
.zero_bg_icon_link{background-image:url(images/icon/link.png);}
.zero_bg_icon_linkedin{background-image:url(images/icon/linkedin.png);}
.zero_bg_icon_list{background-image:url(images/icon/list.png);}
.zero_bg_icon_list2{background-image:url(images/icon/list2.png);}
.zero_bg_icon_location{background-image:url(images/icon/location.png);}
.zero_bg_icon_location2{background-image:url(images/icon/location2.png);}
.zero_bg_icon_lock{background-image:url(images/icon/lock.png);}
.zero_bg_icon_lock2{background-image:url(images/icon/lock2.png);}
.zero_bg_icon_loop{background-image:url(images/icon/loop.png);}
.zero_bg_icon_loop2{background-image:url(images/icon/loop2.png);}
.zero_bg_icon_loop3{background-image:url(images/icon/loop3.png);}
.zero_bg_icon_magnet{background-image:url(images/icon/magnet.png);}
.zero_bg_icon_mail{background-image:url(images/icon/mail.png);}
.zero_bg_icon_mail2{background-image:url(images/icon/mail2.png);}
.zero_bg_icon_mail3{background-image:url(images/icon/mail3.png);}
.zero_bg_icon_mail4{background-image:url(images/icon/mail4.png);}
.zero_bg_icon_map{background-image:url(images/icon/map.png);}
.zero_bg_icon_map2{background-image:url(images/icon/map2.png);}
.zero_bg_icon_menu{background-image:url(images/icon/menu.png);}
.zero_bg_icon_menu2{background-image:url(images/icon/menu2.png);}
.zero_bg_icon_meter{background-image:url(images/icon/meter.png);}
.zero_bg_icon_meter2{background-image:url(images/icon/meter2.png);}
.zero_bg_icon_minus{background-image:url(images/icon/minus.png);}
.zero_bg_icon_mobile{background-image:url(images/icon/mobile.png);}
.zero_bg_icon_mobile2{background-image:url(images/icon/mobile2.png);}
.zero_bg_icon_mug{background-image:url(images/icon/mug.png);}
.zero_bg_icon_music{background-image:url(images/icon/music.png);}
.zero_bg_icon_neutral{background-image:url(images/icon/neutral.png);}
.zero_bg_icon_neutral2{background-image:url(images/icon/neutral2.png);}
.zero_bg_icon_newspaper{background-image:url(images/icon/newspaper.png);}
.zero_bg_icon_new_tab{background-image:url(images/icon/new_tab.png);}
.zero_bg_icon_next{background-image:url(images/icon/next.png);}
.zero_bg_icon_notebook{background-image:url(images/icon/notebook.png);}
.zero_bg_icon_notification{background-image:url(images/icon/notification.png);}
.zero_bg_icon_numbered_list{background-image:url(images/icon/numbered_list.png);}
.zero_bg_icon_office{background-image:url(images/icon/office.png);}
.zero_bg_icon_omega{background-image:url(images/icon/omega.png);}
.zero_bg_icon_opera{background-image:url(images/icon/opera.png);}
.zero_bg_icon_pacman{background-image:url(images/icon/pacman.png);}
.zero_bg_icon_paint_format{background-image:url(images/icon/paint_format.png);}
.zero_bg_icon_paragraph_center{background-image:url(images/icon/paragraph_center.png);}
.zero_bg_icon_paragraph_center2{background-image:url(images/icon/paragraph_center2.png);}
.zero_bg_icon_paragraph_justify{background-image:url(images/icon/paragraph_justify.png);}
.zero_bg_icon_paragraph_justify2{background-image:url(images/icon/paragraph_justify2.png);}
.zero_bg_icon_paragraph_left{background-image:url(images/icon/paragraph_left.png);}
.zero_bg_icon_paragraph_left2{background-image:url(images/icon/paragraph_left2.png);}
.zero_bg_icon_paragraph_right{background-image:url(images/icon/paragraph_right.png);}
.zero_bg_icon_paragraph_right2{background-image:url(images/icon/paragraph_right2.png);}
.zero_bg_icon_paste{background-image:url(images/icon/paste.png);}
.zero_bg_icon_paste2{background-image:url(images/icon/paste2.png);}
.zero_bg_icon_paste3{background-image:url(images/icon/paste3.png);}
.zero_bg_icon_pause{background-image:url(images/icon/pause.png);}
.zero_bg_icon_pause2{background-image:url(images/icon/pause2.png);}
.zero_bg_icon_pawn{background-image:url(images/icon/pawn.png);}
.zero_bg_icon_paypal{background-image:url(images/icon/paypal.png);}
.zero_bg_icon_paypal2{background-image:url(images/icon/paypal2.png);}
.zero_bg_icon_paypal3{background-image:url(images/icon/paypal3.png);}
.zero_bg_icon_pen{background-image:url(images/icon/pen.png);}
.zero_bg_icon_pencil{background-image:url(images/icon/pencil.png);}
.zero_bg_icon_pencil2{background-image:url(images/icon/pencil2.png);}
.zero_bg_icon_phone{background-image:url(images/icon/phone.png);}
.zero_bg_icon_phone_hang_up{background-image:url(images/icon/phone_hang_up.png);}
.zero_bg_icon_picassa{background-image:url(images/icon/picassa.png);}
.zero_bg_icon_picassa2{background-image:url(images/icon/picassa2.png);}
.zero_bg_icon_pie{background-image:url(images/icon/pie.png);}
.zero_bg_icon_pilcrow{background-image:url(images/icon/pilcrow.png);}
.zero_bg_icon_pinterest{background-image:url(images/icon/pinterest.png);}
.zero_bg_icon_pinterest2{background-image:url(images/icon/pinterest2.png);}
.zero_bg_icon_play{background-image:url(images/icon/play.png);}
.zero_bg_icon_play2{background-image:url(images/icon/play2.png);}
.zero_bg_icon_play3{background-image:url(images/icon/play3.png);}
.zero_bg_icon_plus{background-image:url(images/icon/plus.png);}
.zero_bg_icon_podcast{background-image:url(images/icon/podcast.png);}
.zero_bg_icon_point_down{background-image:url(images/icon/point_down.png);}
.zero_bg_icon_point_left{background-image:url(images/icon/point_left.png);}
.zero_bg_icon_point_right{background-image:url(images/icon/point_right.png);}
.zero_bg_icon_point_up{background-image:url(images/icon/point_up.png);}
.zero_bg_icon_power_cord{background-image:url(images/icon/power_cord.png);}
.zero_bg_icon_previous{background-image:url(images/icon/previous.png);}
.zero_bg_icon_print{background-image:url(images/icon/print.png);}
.zero_bg_icon_profile{background-image:url(images/icon/profile.png);}
.zero_bg_icon_pushpin{background-image:url(images/icon/pushpin.png);}
.zero_bg_icon_qrcode{background-image:url(images/icon/qrcode.png);}
.zero_bg_icon_question{background-image:url(images/icon/question.png);}
.zero_bg_icon_quill{background-image:url(images/icon/quill.png);}
.zero_bg_icon_quotes_left{background-image:url(images/icon/quotes_left.png);}
.zero_bg_icon_radio_checked{background-image:url(images/icon/radio_checked.png);}
.zero_bg_icon_radio_unchecked{background-image:url(images/icon/radio_unchecked.png);}
.zero_bg_icon_reddit{background-image:url(images/icon/reddit.png);}
.zero_bg_icon_redo{background-image:url(images/icon/redo.png);}
.zero_bg_icon_redo2{background-image:url(images/icon/redo2.png);}
.zero_bg_icon_remove{background-image:url(images/icon/remove.png);}
.zero_bg_icon_remove2{background-image:url(images/icon/remove2.png);}
.zero_bg_icon_reply{background-image:url(images/icon/reply.png);}
.zero_bg_icon_right_to_left{background-image:url(images/icon/right_to_left.png);}
.zero_bg_icon_road{background-image:url(images/icon/road.png);}
.zero_bg_icon_rocket{background-image:url(images/icon/rocket.png);}
.zero_bg_icon_sad{background-image:url(images/icon/sad.png);}
.zero_bg_icon_sad2{background-image:url(images/icon/sad2.png);}
.zero_bg_icon_safari{background-image:url(images/icon/safari.png);}
.zero_bg_icon_scissors{background-image:url(images/icon/scissors.png);}
.zero_bg_icon_screen{background-image:url(images/icon/screen.png);}
.zero_bg_icon_search{background-image:url(images/icon/search.png);}
.zero_bg_icon_settings{background-image:url(images/icon/settings.png);}
.zero_bg_icon_share{background-image:url(images/icon/share.png);}
.zero_bg_icon_shield{background-image:url(images/icon/shield.png);}
.zero_bg_icon_shocked{background-image:url(images/icon/shocked.png);}
.zero_bg_icon_shocked2{background-image:url(images/icon/shocked2.png);}
.zero_bg_icon_shuffle{background-image:url(images/icon/shuffle.png);}
.zero_bg_icon_sigma{background-image:url(images/icon/sigma.png);}
.zero_bg_icon_signup{background-image:url(images/icon/signup.png);}
.zero_bg_icon_skype{background-image:url(images/icon/skype.png);}
.zero_bg_icon_smiley{background-image:url(images/icon/smiley.png);}
.zero_bg_icon_smiley2{background-image:url(images/icon/smiley2.png);}
.zero_bg_icon_soundcloud{background-image:url(images/icon/soundcloud.png);}
.zero_bg_icon_soundcloud2{background-image:url(images/icon/soundcloud2.png);}
.zero_bg_icon_spades{background-image:url(images/icon/spades.png);}
.zero_bg_icon_spam{background-image:url(images/icon/spam.png);}
.zero_bg_icon_spell_check{background-image:url(images/icon/spell_check.png);}
.zero_bg_icon_spinner{background-image:url(images/icon/spinner.png);}
.zero_bg_icon_spinner2{background-image:url(images/icon/spinner2.png);}
.zero_bg_icon_spinner3{background-image:url(images/icon/spinner3.png);}
.zero_bg_icon_spinner4{background-image:url(images/icon/spinner4.png);}
.zero_bg_icon_spinner5{background-image:url(images/icon/spinner5.png);}
.zero_bg_icon_spinner6{background-image:url(images/icon/spinner6.png);}
.zero_bg_icon_stack{background-image:url(images/icon/stack.png);}
.zero_bg_icon_stackoverflow{background-image:url(images/icon/stackoverflow.png);}
.zero_bg_icon_star{background-image:url(images/icon/star.png);}
.zero_bg_icon_star2{background-image:url(images/icon/star2.png);}
.zero_bg_icon_star3{background-image:url(images/icon/star3.png);}
.zero_bg_icon_stats{background-image:url(images/icon/stats.png);}
.zero_bg_icon_steam{background-image:url(images/icon/steam.png);}
.zero_bg_icon_steam2{background-image:url(images/icon/steam2.png);}
.zero_bg_icon_stop{background-image:url(images/icon/stop.png);}
.zero_bg_icon_stop2{background-image:url(images/icon/stop2.png);}
.zero_bg_icon_stopwatch{background-image:url(images/icon/stopwatch.png);}
.zero_bg_icon_storage{background-image:url(images/icon/storage.png);}
.zero_bg_icon_strikethrough{background-image:url(images/icon/strikethrough.png);}
.zero_bg_icon_stumbleupon{background-image:url(images/icon/stumbleupon.png);}
.zero_bg_icon_stumbleupon2{background-image:url(images/icon/stumbleupon2.png);}
.zero_bg_icon_support{background-image:url(images/icon/support.png);}
.zero_bg_icon_switch{background-image:url(images/icon/switch.png);}
.zero_bg_icon_tab{background-image:url(images/icon/tab.png);}
.zero_bg_icon_table{background-image:url(images/icon/table.png);}
.zero_bg_icon_table2{background-image:url(images/icon/table2.png);}
.zero_bg_icon_tablet{background-image:url(images/icon/tablet.png);}
.zero_bg_icon_tag{background-image:url(images/icon/tag.png);}
.zero_bg_icon_tags{background-image:url(images/icon/tags.png);}
.zero_bg_icon_target{background-image:url(images/icon/target.png);}
.zero_bg_icon_text_height{background-image:url(images/icon/text_height.png);}
.zero_bg_icon_text_width{background-image:url(images/icon/text_width.png);}
.zero_bg_icon_thumbs_up{background-image:url(images/icon/thumbs_up.png);}
.zero_bg_icon_thumbs_up2{background-image:url(images/icon/thumbs_up2.png);}
.zero_bg_icon_ticket{background-image:url(images/icon/ticket.png);}
.zero_bg_icon_tongue{background-image:url(images/icon/tongue.png);}
.zero_bg_icon_tongue2{background-image:url(images/icon/tongue2.png);}
.zero_bg_icon_tree{background-image:url(images/icon/tree.png);}
.zero_bg_icon_trophy{background-image:url(images/icon/trophy.png);}
.zero_bg_icon_truck{background-image:url(images/icon/truck.png);}
.zero_bg_icon_tumblr{background-image:url(images/icon/tumblr.png);}
.zero_bg_icon_tumblr2{background-image:url(images/icon/tumblr2.png);}
.zero_bg_icon_tux{background-image:url(images/icon/tux.png);}
.zero_bg_icon_tv{background-image:url(images/icon/tv.png);}
.zero_bg_icon_twitter{background-image:url(images/icon/twitter.png);}
.zero_bg_icon_twitter2{background-image:url(images/icon/twitter2.png);}
.zero_bg_icon_twitter3{background-image:url(images/icon/twitter3.png);}
.zero_bg_icon_underline{background-image:url(images/icon/underline.png);}
.zero_bg_icon_undo{background-image:url(images/icon/undo.png);}
.zero_bg_icon_undo2{background-image:url(images/icon/undo2.png);}
.zero_bg_icon_unlocked{background-image:url(images/icon/unlocked.png);}
.zero_bg_icon_upload{background-image:url(images/icon/upload.png);}
.zero_bg_icon_upload2{background-image:url(images/icon/upload2.png);}
.zero_bg_icon_upload3{background-image:url(images/icon/upload3.png);}
.zero_bg_icon_user{background-image:url(images/icon/user.png);}
.zero_bg_icon_user2{background-image:url(images/icon/user2.png);}
.zero_bg_icon_user3{background-image:url(images/icon/user3.png);}
.zero_bg_icon_user4{background-image:url(images/icon/user4.png);}
.zero_bg_icon_users{background-image:url(images/icon/users.png);}
.zero_bg_icon_users2{background-image:url(images/icon/users2.png);}
.zero_bg_icon_vimeo{background-image:url(images/icon/vimeo.png);}
.zero_bg_icon_vimeo2{background-image:url(images/icon/vimeo2.png);}
.zero_bg_icon_vimeo3{background-image:url(images/icon/vimeo3.png);}
.zero_bg_icon_volume_decrease{background-image:url(images/icon/volume_decrease.png);}
.zero_bg_icon_volume_high{background-image:url(images/icon/volume_high.png);}
.zero_bg_icon_volume_increase{background-image:url(images/icon/volume_increase.png);}
.zero_bg_icon_volume_low{background-image:url(images/icon/volume_low.png);}
.zero_bg_icon_volume_medium{background-image:url(images/icon/volume_medium.png);}
.zero_bg_icon_volume_mute{background-image:url(images/icon/volume_mute.png);}
.zero_bg_icon_volume_mute2{background-image:url(images/icon/volume_mute2.png);}
.zero_bg_icon_wand{background-image:url(images/icon/wand.png);}
.zero_bg_icon_warning{background-image:url(images/icon/warning.png);}
.zero_bg_icon_windows{background-image:url(images/icon/windows.png);}
.zero_bg_icon_windows8{background-image:url(images/icon/windows8.png);}
.zero_bg_icon_wink{background-image:url(images/icon/wink.png);}
.zero_bg_icon_wink2{background-image:url(images/icon/wink2.png);}
.zero_bg_icon_wondering{background-image:url(images/icon/wondering.png);}
.zero_bg_icon_wondering2{background-image:url(images/icon/wondering2.png);}
.zero_bg_icon_wordpress{background-image:url(images/icon/wordpress.png);}
.zero_bg_icon_wordpress2{background-image:url(images/icon/wordpress2.png);}
.zero_bg_icon_wrench{background-image:url(images/icon/wrench.png);}
.zero_bg_icon_xing{background-image:url(images/icon/xing.png);}
.zero_bg_icon_xing2{background-image:url(images/icon/xing2.png);}
.zero_bg_icon_yahoo{background-image:url(images/icon/yahoo.png);}
.zero_bg_icon_yelp{background-image:url(images/icon/yelp.png);}
.zero_bg_icon_youtube{background-image:url(images/icon/youtube.png);}
.zero_bg_icon_youtube2{background-image:url(images/icon/youtube2.png);}
.zero_bg_icon_zoom_in{background-image:url(images/icon/zoom_in.png);}
.zero_bg_icon_zoom_out{background-image:url(images/icon/zoom_out.png);}
