html{height:100%;padding:0;margin:0;}
html,body,form{padding:0; margin:0; font-family:'微软雅黑'; font-size:16px; line-height:1.75; color:#333;background-color:#fafafa;background-repeat:no-repeat;background-position:center;background-size:cover;}
a{text-decoration:none;}
.zero_left{float:left; overflow:hidden;}
.zero_right{float:right; overflow:hidden;}
.zero_clearfix:after{content:"0";display:block;height:0;clear:both;visibility:hidden;}
.zero_clearfix{zoom:1;}
.zero_code_highlight{background:#dedede;margin:0;border:solid 1px #dedede;font-size:12px;line-height:1.2;}
.zero_code_highlight li {background:#fff; word-break:break-all;}
.zero_code_highlight li:hover{background:#f2f2f2;}
input{vertical-align:middle;}
input[type=text],input[type=password],input[type=time],input[type=tel],textarea,select,input[type=radio],input[type=checkbox],select{border:solid 1px #dfdfdf;border-radius:0;background:#f2f2f2;color:#000;margin:1px;padding:0;height:22px;line-height:22px; outline:none;}
select{height:28px;}
input[type=checkbox],input[type=radio]{background:none;}
input[disabled="disabled"],input[readonly="readonly"]{border:solid 1px #dedede;background-color:#f2f2f2;color:#999;margin:1px;padding:0;}
input[type=button],input[type=submit],input[type=reset],button{border:solid 1px #999;background-color:#f2f2f2;color:#333;margin:1px;padding:0 4px;cursor:pointer;border-radius:0;height:28px;}
input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover,button:hover{border-color:#037676;}

.zero_pager{padding:0;margin:5px 0;overflow:hidden; zoom:1; text-align:center;font-size:12px;}
.zero_pager a,.zero_pager b,.zero_pager span{display:inline-block;min-width:12px;height:26px; line-height:26px; overflow:hidden;margin:1px;padding:0 4px;text-align:center;border:solid 1px #dedede;color:#999;background:#f2f2f2;font-weight:normal;}
.zero_pager a,.zero_pager b{color:#999;cursor:pointer;}
.zero_pager a:hover,.zero_pager .zero_current{text-decoration:none;background:#f00;color:#fff;}
.zero_pager span{color:#dedede;}
.zero_pager .zero_list,.zero_pager .zero_count,.zero_pager .zero_goto{overflow:hidden;padding:0;margin:0;display:inline-block;height:30px;}
.zero_pager select,.zero_pager input{margin:1px;height:26px;width:30px;text-align:center;overflow:hidden;padding:0 4px; vertical-align:top;display:inline-block;border:solid 1px #dedede;background:#fff;outline:none;}
.zero_pager select{width:auto;max-width:100px;}
.zero_pager .zero_count{padding:0;border:solid 1px #dedede;margin:1px;height:26px; line-height:26px;}
.zero_pager .zero_count select{border:0;background:none;outline:none;margin:0;}
.zero_pager .zero_count *{display:inline-block;color:#00f;padding:0 2px;font-weight:normal;font-style:normal;}
.zero_pager .zero_goto{padding:0;}
.zero_pager .zero_goto input{color:#f00;}
.zero_pager input.zero_btn{background:#fa4848;border-color:#fa4848;color:#fff;cursor:pointer;border-radius:0;}
.zero_pager .zero_goto a,.zero_pager .zero_goto b,.zero_pager .zero_goto span{background:none;color:#333;min-width:5px;}

.zero_form{border:0;padding:0;margin:0;display:block;overflow:hidden}
.zero_form .zero_btn,.zero_form input[type=button],.zero_form input[type=reset],.zero_form input[type=submit]{display:inline-block;overflow:hidden;border:solid 1px #999;background:#dedede;color:#666;outline:none;cursor:pointer;margin:0 .625em 0 0;padding:.325em;font-size:.875em;letter-spacing:.125em;min-width:5em;text-align:center;height:2em}
.zero_btn:hover,.zero_form input[type=button]:hover{color:#333;border-color:#ccc}
.zero_submitBtn,.zero_form input[type=submit]{background:red;color:#fff;border-color:red}
.zero_submitBtn:hover,.zero_form input[type=submit]:hover{background:#e00}
.zero_cancelBtn,.zero_editTable .zero_resetBtn,.zero_form input[type=reset]{color:#999;border-color:#ccc}
.zero_cancelBtn:hover,.zero_editTable .zero_resetBtn:hover,.zero_form input[type=reset]:hover{color:#666}
.zero_form label{display:inline-block;overflow:hidden;margin:0 5px 0 0;padding:0 5px;}
.zero_form label input{display:inline;vertical-align:middle;}
.zero_form input[readonly]{color:#ccc}
.zero_form .zero_form_btns{text-align:center;width:100%;padding:10px 0;background:#fff}
.zero_form_btns_fixed{padding-bottom:50px}
.zero_form_btns_fixed .zero_form_btns{position:fixed;left:0;bottom:0;border-top:solid .0625em #dedede}
dl.zero_form_group{border:0;padding:0 0 2px 0;margin:10px;display:block;overflow:hidden;border:solid 1px #eee;background:#fff;}
dl.zero_form_group dt{display:block;padding:0 0 0 3px;margin:0;height:30px;font-size:16px; line-height:30px;color:#037f8c;border-bottom:solid 1px #037f8c}
dl.zero_form_group dt span{display:inline-block;}
dl.zero_form_group dt .zero_bg_icon{width:20px;height:20px;border-radius:0; display:block;float:left;background-position:center; padding:0;margin:3px 3px 0 0;vertical-align:middle;border:solid 1px #05a59d;background-color:#05a59d;}
dl.zero_form_group dd{display:block;padding:0;margin:0;float:left;height:52px;width:100%;overflow:hidden;}
dl.zero_form_group .zero_form_text{height:19px;line-height:19px;overflow:hidden;border:0;margin:2px 1.5px 0 1.5px;padding:0;border:solid 1px #eee;color:#888;border-bottom:none;white-space:nowrap;text-overflow:ellipsis;}
dl.zero_form_group .zero_form_input{height:28px;min-height:28px;border:0;margin:0 1.5px 0 1.5px;padding:0;display:block;background:#f2f2f2;border:solid 1px #dedede;position:relative;}
dl.zero_form_group input[type=color],dl.zero_form_group input[type=date],dl.zero_form_group input[type=datetime-local],dl.zero_form_group input[type=datetime],dl.zero_form_group input[type=password],dl.zero_form_group input[type=tel],dl.zero_form_group input[type=number],dl.zero_form_group input[type=text],dl.zero_form_group select,dl.zero_form_group textarea{border:0;padding:0;margin:0;display:block;height:100%;max-height:100%;min-height:100%;width:100%;max-width:100%;min-width:100%;outline:none;background:#f2f2f2}
dl.zero_form_group_cols2 dd{width:50%}
dl.zero_form_group dd.zero_form_rows2{height:120px}
dl.zero_form_group dd.zero_form_rows2 .zero_form_input{height:90px}
dl.zero_form_group_cols3 dd{width:33.33%}
dl.zero_form_group dd.zero_form_rows3{height:180px}
dl.zero_form_group dd.zero_form_rows3 .zero_form_input{height:150px}
dl.zero_form_group_cols4 dd{width:25%}
dl.zero_form_group dd.zero_form_rows4{height:240px}
dl.zero_form_group dd.zero_form_rows4 .zero_form_input{height:210px}
dl.zero_form_group_cols5 dd{width:20%}
dl.zero_form_group dd.zero_form_rows5{height:300px}
dl.zero_form_group dd.zero_form_rows5 .zero_form_input{height:270px}
dl.zero_form_group dd.zero_form_cells1{width:100%}
dl.zero_form_group dd.zero_form_cells2{width:50%}
dl.zero_form_group dd.zero_form_cells3{width:33.33%}
dl.zero_form_group dd.zero_form_cells4{width:25%}
dl.zero_form_group dd.zero_form_cells5{width:20%}
dl.zero_form_group .zero_form_text .zero_form_input_label{display:inline-block;padding:0;margin:0;font-size:14px;font-weight:600;font-style:normal;color:#333;height:19px;line-height:19px;}
dl.zero_form_group .zero_form_text .zero_form_input_tips{display:none;padding:0 3px;margin:0;color:#090;font-weight:normal;font-style:normal;font-size:12px;height:19px;line-height:19px;background:none;color:#f90;}
dl.zero_form_group dd.zero_tips .zero_form_text .zero_form_input_tips{background:#f90; color:#fff;display:inline-block;}
dl.zero_form_group dd.zero_tips .zero_form_input {border-color: #f90;}

.zero_data_list{overflow:hidden;margin:10px;padding:0;}
.zero_data_list.zero_page_bar_fixed{margin-bottom:50px;}
.zero_data_list.zero_page_bar_fixed .zero_page_bar{display:block;padding:0;margin:0;position:fixed;left:0;bottom:0;background:#fff;border-top:solid 1px #dedede;width:100%;height:40px;overflow:hidden;}
.zero_repeat{padding:0;margin:0;zoom:1;width:100%;overflow:hidden;}
.zero_repeat:after{display:block;padding:0;margin:0;border:0;content:'';clear:both;}
.zero_repeat_item{display:block;padding:0;margin:0;width:100%;float:left;overflow:hidden;}
.zero_repeat_item p{padding:0;margin:0;}
.zero_repeat_item_cover{display:block;padding:0;margin:1px;height:120px;overflow:hidden;background-color:#dedede;}
.zero_repeat_item_cover img{display:block;width:100%;height:auto;border:0;margin:0;}
.zero_repeat_item_title{line-height:1;padding:0;margin:0;overflow:hidden;color:#037676;}
.zero_repeat_item_con{overflow:hidden;line-height:1;font-size:12px;padding:2px 0;margin:0;}
.zero_repeat_item_btns{padding:0;margin:0;line-height:1;}
.zero_repeat .zero_repeat_item:last-child{margin-bottom:0;}
.zero_repeat_item_inside{border:solid 1px #f7f7f7;margin:3px;padding:2px; overflow:hidden;display:block;background:#fff;}
.zero_repeat_item.zero_selected .zero_repeat_item_inside{border-color:#999;}
.zero_repeat_init{margin:3px;}
.zero_repeat_item_btns input[type=button],
.zero_repeat_item_btns input[type=submit],
.zero_repeat_item_btns input[type=reset],
.zero_repeat_item_btns a,
.zero_repeat_item_btns button{background-color:transparent;height:20px;line-height:20px;}
.zero_repeat_item_btns input[type=button].zero_bg_icon,
.zero_repeat_item_btns input[type=submit].zero_bg_icon,
.zero_repeat_item_btns input[type=reset].zero_bg_icon,
.zero_repeat_item_btns button.zero_bg_icon,
.zero_repeat_item_btns .zero_bg_icon{color:#000;}
.zero_repeat_col2 .zero_repeat_item{width:50%;}
.zero_repeat_col3 .zero_repeat_item{width:33.33%;}
.zero_repeat_col4 .zero_repeat_item{width:25%;}
.zero_repeat_col5 .zero_repeat_item{width:20%;}
.zero_repeat_news .zero_repeat_item{width:100%;}
.zero_repeat_news .zero_repeat_item_cover{float:left;width:50px;height:50px;}
.zero_repeat_news .zero_repeat_item_title{min-width:50px;}
.zero_repeat_news .zero_repeat_item_con{min-width:50px;}
.zero_repeat_news .zero_repeat_item_btns{text-align:right;}

table.zero_datatable {width: 100%;border-spacing: 0;border-collapse: collapse;}
table.zero_datatable thead{background:#037676;}
table.zero_datatable p{padding:0;margin:0;}
table.zero_datatable thead th,table.zero_datatable thead td{text-align:left;border:solid 1px #037676;color:#fff;line-height:1;padding:0;font-size:12px;}
table.zero_datatable tbody{color:#666;font-size:14px;}
table.zero_datatable tfoot td{background:#fff;border:solid 1px #dedede;} 
table.zero_datatable tfoot td .zero_left{width:49%; height:30px; padding-top:4px;}
table.zero_datatable tfoot td .zero_right{width:49%;}
table.zero_datatable tbody td{border:solid 1px #eee;padding:1px 0;}
table.zero_datatable tbody tr{background:#fff;color:#333;line-height:1.2;}
table.zero_datatable tbody tr:hover{color:#f00;}
table.zero_datatable tbody tr:nth-child(even){background:#f7f7f7;color:#000;}
table.zero_datatable tbody tr:nth-child(even):hover{color:#f00;}
table.zero_datatable tbody tr.zero_selected{color:#f00; background:#ffeeee;}
table.zero_datatable tbody tr.zero_selected:hover{background:#ffffaa;color:#f00;}
table.zero_datatable tbody tr.zero_selected a{color:#037676;}
table.zero_datatable tbody tr.zero_selected a:hover{color:#f00;}
table.zero_datatable .zero_ctrl a,
table.zero_datatable button,
table.zero_datatable input[type=button]{height:20px; font-size:12px;background-color:transparent;color:#000;}
table.zero_datatable .zero_ctrl a:hover,
table.zero_datatable button:hover,
table.zero_datatable input[type=button]:hover{border-color:#037676;}
table.zero_datatable tbody tr.zero_selected .zero_ctrl a{color:#037f8c;}
table.zero_datatable tbody tr.zero_selected .zero_ctrl a:hover{color:#f00;}
table.zero_datatable a,table.zero_datatable span{display:inline-block;line-height:1;}
table.zero_datatable span{color:#090;}
table.zero_datatable span em{font-size:12px;font-style:normal;color:#037676;}

#zero_debug_bar{padding:0;margin:0;overflow:hidden;width:100%;height:100px;border-top:solid 1px #037676;}
#zero_debug_bar div{position:fixed;z-index:999;padding:0;margin:0;overflow:hidden;font-size:12px;width:100%;height:100px;border-top:solid 1px #037676;background:#fff;color:#037676;left:0;bottom:0}
#zero_debug_bar p{padding:0;margin:0;height:20px;line-height:20px;overflow:hidden;background:#037676;color:#fff;}
#zero_debug_bar p a{display:block;padding:0;margin:0;border:0;width:200px;min-width:200px;height:20px;overflow:hidden;float:left;}
#zero_debug_bar p b{display:block;padding:0;margin:0;border:0;width:18px;min-width:18px;height:18px;border:solid 1px #fff;overflow:hidden;float:right;text-align:center;}
#zero_debug_bar textarea{padding:0;margin:0;width:100%;height:80px;overflow-y:scroll;font-size:12px;line-height:1.2;width:100%;height:100px;border:0;background:#fff;color:#037676;}

.zero_autocomplete_bar{background:#fff;z-index:10;border:solid 1px #037f8c;}
.zero_autocomplete_bar a{display:block; color:#037676; text-decoration:none;line-height:1;padding:5px 0;margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;border-bottom:solid 1px #eee;font-size:14px;}
.zero_autocomplete_bar a:last-child{border-bottom:0;}
.zero_autocomplete_bar a:hover{background:#eee;color:#f00;}
.zero_autocomplete_bar a.selected{background:#ddd;color:#f00;}
.zero_autocomplete_bar b{color:#f90;}

.zero_side_bar{height:100%;width:100%;padding:0;margin:0;border:0;top:0;left:0;bottom:0;overflow:hidden;position:fixed;z-index:1;background:rgba(0,0,0,.3);display:none;}
.zero_side_bar .zero_mp_main{height:100%;padding:0;background-color:#fafafa;visibility:visible;overflow-x:hidden;overflow-y:auto;border:solid 1px #000;}
.zero_side_bar_header{color:#fff;line-height:32px;height:32px;overflow:hidden;background:#05a59d;padding:0;margin:0;border-bottom:solid 1px #000;display:block;}
.zero_side_bar_header_l{width:0;height:0;overflow:hidden;display:block;padding:0;margin:0;border:0;float:left;}
.zero_side_bar_header_c{padding:0;margin:0 32px;border:0; overflow:hidden;text-align:center;}
.zero_side_bar_header_r{width:0;height:0;overflow:hidden;display:block;padding:0;margin:0;border:0;float:right;}
.zero_side_bar_header .zero_bg_icon{padding:0;margin:-1px;width:32px;height:32px;display:block;background-position:center;background-color:#037676;position:absolute;border:solid 1px #000;}
.zero_side_bar_header_r .zero_bg_icon{margin:-33px 0 0 -33px;}
.zero_side_bar_main{padding:0;margin:0;display:block;background:#fafafa;width:100%;}
body.zero_side_bar_show{overflow:hidden;}
.zero_side_bar_header_fixed  .zero_mp_main{position:relative;}
.zero_side_bar_header_fixed  .zero_side_bar_header{position:fixed;}
.zero_side_bar_header_fixed  .zero_side_bar_main{margin-top:33px;}

.zero_icon_nav_list{padding:0;margin:0;border:0;overflow:hidden;}
.zero_icon_nav_list dl{padding:0 0 10px 0;margin:10px;border:0;overflow:hidden;list-style:none;zoom:1;background:rgba(255,255,255,.9);}
.zero_icon_nav_list dl:after{display:block;content:'';clear:both;height:0;width:100%;}
.zero_icon_nav_list dt{padding:0;margin:0;overflow:hidden;border-bottom:solid 1px #05a59d;color:#05a59d;}
.zero_icon_nav_list dd{width:60px;height:70px;overflow:hidden;float:left;padding:0;margin:10px 0 0 10px;border:0;}
.zero_icon_nav_list .zero_bg_icon{width:100%;height:40px;background-color:#05a59d; background-position:center;border-radius:0; display:block;overflow:hidden;padding:0;margin:0;}
.zero_icon_nav_list .zero_icon_nav_list_text{width:100%;height:30px; line-height:1; font-size:14px; overflow:hidden;display:block;text-align:center;color:#666;}
.zero_icon_nav_list dt span{display:inline-block;}
.zero_icon_nav_list dt .zero_bg_icon{width:20px;height:20px;display:inline-block;background-position:center; padding:0;margin:3px;vertical-align:middle;border:solid 1px #05a59d;}

.zero_ctrl_inputs{background:#fff;padding:5px 0;margin:0;border:0;display:block;overflow:hidden;zoom:1;line-height:27px;}
.zero_ctrl_inputs *{display:block;float:left;vertical-align:middle;font-size:14px;}
.zero_ctrl_inputs:after{display:block;width:0;height:0;overflow:hidden;clear:both;}
.zero_ctrl_inputs .zero_bg_icon{border:solid 1px #666;}
.zero_ctrl_inputs a{height:27px; padding-right:5px;border-radius:0;}

/*在一定的屏幕宽度下隐藏页面元素*/
@media screen and (max-width: 1024px) { body *.MCW1024H{display:none;} }
@media screen and (max-width: 768px) { body *.MCW768H{display:none;} }
@media screen and (max-width: 640px) { body *.MCW640H{display:none;} }
@media screen and (max-width: 320px) { body *.MCW320H{display:none;} }

