@{
    Huanr.Models.NativeSoil.tArea tAreaParent = ViewBag.tAreaParent;
    ViewData["Title"] = "AreaAdd";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="areaAddForm" action="/admin/system/areaAddSave" method="post">
    <input type="hidden" name="AreaParent" value="@tAreaParent.AreaCode" />
    <dl class="zero_form_group">
        <dt>归属信息</dt>
        <dd><div class="zero_form_text">地区城市归属：</div><div class="zero_form_input"><input type="text" name="AreaParentName" value="@(tAreaParent.AreaName+tAreaParent.AreaNameSuffix)"  maxlength="200" readonly="readonly" /></div></dd>
        <dd><div class="zero_form_text">地区城市路径：</div><div class="zero_form_input"><input type="text" name="AreaPath" value="@(tAreaParent.AreaPath+tAreaParent.AreaCode+"/")"  maxlength="200" readonly="readonly" /></div></dd>
    </dl>
    <dl class="zero_form_group">
        <dt>地区城市</dt>
        <dd><div class="zero_form_text">地区城市代码(录入后不可修改)：</div><div class="zero_form_input"><input type="text" name="AreaCode" maxlength="36" /></div></dd>
        <dd><div class="zero_form_text">地区城市名称：</div><div class="zero_form_input"><input type="text" name="AreaName" maxlength="200" /></div></dd>
        <dd><div class="zero_form_text">地区城市区划后缀(省市州区县)：</div><div class="zero_form_input"><input type="text" name="AreaNameSuffix" maxlength="200" /></div></dd>
        <dd><div class="zero_form_text">地区城市备注：</div><div class="zero_form_input"><input type="text" name="AreaRemark"  maxlength="100" /></div></dd>
    </dl>
    
    <div class="zero_form_btns">
        <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
        <input type="submit" name="zero_btnSubmit" value="提交" />
    </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemAreaAdd.initFunc('areaAddForm') });
</script>
}