@{
    Huanr.Models.NativeSoil.tSystemPermissionGroup tSystemPermissionGroup =ViewBag.tSystemPermissionGroup;

    ViewData["Title"] = "PermissionGroupDetail";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed zero_form_view" id="roleGroupViewForm">
        <dl class="zero_form_group">
            <dt>权限分组信息</dt>
            <dd><div class="zero_form_text">分组名称：</div><div class="zero_form_input">@tSystemPermissionGroup.GroupName</div></dd>
            <dd><div class="zero_form_text">分组备注：</div><div class="zero_form_input">@tSystemPermissionGroup.GroupRemark</div></dd>
            <dd><div class="zero_form_text">分组排序：</div><div class="zero_form_input">@tSystemPermissionGroup.GroupSort</div></dd>
            <dd><div class="zero_form_text">分组删除：</div><div class="zero_form_input">@if (tSystemPermissionGroup.GroupDeleteStatus){<span>是</span>}else {<span>否</span> }</div></dd>
            <dd><div class="zero_form_text">创建时间：</div><div class="zero_form_input">@tSystemPermissionGroup.GroupCreateTime.ToString("yyyy年MM月dd日HH时mm分ss秒")</div></dd>
        </dl>

        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="关闭" onclick="parentDialogObj.close()" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{}