@{
    ViewData["Title"] = "RoleGroupAdd";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="roleGroupAddForm" action="/admin/system/roleGroupAddSave" method="post">
        <dl class="zero_form_group">
            <dt>角色分组信息</dt>
            <dd><div class="zero_form_text">分组名称：</div><div class="zero_form_input"><input type="text" name="GroupName" maxlength="50" /></div></dd>
            <dd><div class="zero_form_text">分组备注：</div><div class="zero_form_input"><input type="text" name="GroupRemark" maxlength="200" /></div></dd>
            <dd><div class="zero_form_text">分组排序：</div><div class="zero_form_input"><input type="number" name="GroupSort"  max="999999999" min="0" /></div></dd>
        </dl>

        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
            <input type="submit" name="zero_btnSubmit" value="提交" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemRoleGroupAdd.initFunc('roleGroupAddForm') });
</script>
}