@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_AuthPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="userLoginM" action="/auth/main/doLogin" method="post">
        <dl class="zero_form_group">
            <dt>用户信息</dt>
            <dd><div class="zero_form_text">账号：</div><div class="zero_form_input"><input type="text" name="account" maxlength="50" /></div></dd>
            <dd><div class="zero_form_text">密码：</div><div class="zero_form_input"><input type="password" name="pwd" maxlength="50" /></div></dd>
        </dl>

        <div class="zero_form_btns">
            <input type="submit" name="zero_btnSubmit" value="登录" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript">
    zero.ready(function () {
        var myForm = zero.form('userLoginM'),
              inputs = myForm.inputs;
        var waitingDialog = null;
        myForm.onCheck = function (data) {
            var tips = function (msg) {
                dialog.tips('<p style="padding:0;margin:0;text-align:center;color:#f00;">' + msg + '</p>');
                return false;
            };
            if (!data.account) { return tips('账号不能为空！'); }
            if (!data.pwd) { return tips('密码不能为空！'); }

            waitingDialog = dialog.waiting('……正在登录……');

            return data;
        };
        myForm.onResponse = function (res) {
            waitingDialog && waitingDialog.close();
            var data = {};
            try {
                data = eval('(' + res + ')');
            } catch (e) {
                data = { status: 0, msg: e.message };
            }
            if (!data.status) {
                dialog.alert('登录提示', data.msg);
                return;
            }
            window.location.href='loginSuccess'
        };
    });
</script>
}